<% content_for :title do %>
  任务列表
<% end%>

<div class="span8 profile_box">

<h4>待办任务</h4>
<table class="table" id="todo">
  <% @todos.each do |todo| %>
    <%= render :partial => "task", :locals => {task: todo} %>
  <% end %>
</table>

<hr>

<h4>已办任务</h4>
<table class="table">
  <% @dones.each do |done| %>
<tr>
      <td><icon class="icon-folder-close"></icon></td>
      <td><%= done.info %></td>
      <td><%= done.user.name %></td>
      <% if @current_user.name == 'chx2103' %>
        <td><%= link_to "Delete", task_path(done), :method => :delete, :class => "btn btn-danger" %></td>
      <% end %>
    </tr>
  <% end %>
</table>


<legend>新建待办任务</legend>

<%= render "form" %>

</div>
