<div class="profile_box span9">

  <legend>分享视播</legend>

  <%= form_for @cast, :html => { :id => "cast_share_form", :class => "simple_form form-horizontal" } do |f| %>
    <fieldset>

      <%= f.hidden_field :url %>

      <div class="control-group">
        <%= f.label :title, "标题", :class => "control-label" %>
        <div class="controls">
          <%= f.text_field :title, :class => "text_field" %>
          <p style="color:red"><%= @cast.errors[:title][0].to_s %></p>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :price, "价格", :class => "control-label" %>
        <div class="controls">
          <%= f.select :price, options_for_select({"免费" => 0 , "1￥" => 1, "5￥" => 5, "10￥" => 10}, 1) %>
        </div>
      </div>


      <div class="control-group">
        <%= f.label :free_time, "试看时间", :class => "control-label" %>
        <div class="controls">
          <%= f.text_field :free_time, :value => "10", :class => "text_field" %>
          <p style="color:red"><%= @cast.errors[:free_time][0].to_s %></p>
        </div>
      </div>


      <div class="form-actions">
        <%= f.submit '确定并上传视频', :id => "cast_share_btn", :class => 'btn btn-primary' %>
        <%= link_to '取消', casts_path, :class => 'btn' %>
      </div>

    </fieldset>
  <% end %>
</div>

