<div class="profile_box span9">

  <legend>分享视播</legend>

  <%= form_tag "http://up.qbox.me/upload", :multipart => true, :id => "videoupload", :class => "simple_form form-horizontal" do %>
    <fieldset>
      <%= hidden_field_tag :auth, @upload_auth %>
      <%= hidden_field_tag :action, @upload_action %>
      <%= hidden_field_tag :params, @upload_params %>
      <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
      <div class="control-group" id="fileupload-choose-area">
        <%= label_tag :title, "上传视频", :class => "control-label" %>
        <div class="controls">
          <span class="btn btn-success fileinput-button">
            <i class="icon-plus icon-white"></i>
            <span>选择视频</span>
            <input id="up_v" value="" name="file" type="file" />
          </span>
        </div>
      </div>
      <!-- The loading indicator is shown during image processing -->
      <div class="controls">
        <div class="files" id="fileupload-area"></div>
      </div>
    </fieldset>
  <% end %>

</div>


<!-- The template to display files available for upload -->
<script id="template-upload" type="text/x-tmpl">
  <div class="upload">
    {%=o.name%}
    <div class="progress progress-striped active">
      <div class="bar" style="width: 0%"></div>
    </div>
  </div>
</script>

<script id="template-download" type="text/x-tmpl">
  <div class="upload">
    {%=o.name%}
    <div class="progress progress-striped active">
      <div class="bar" style="width: 0%"></div>
    </div>
  </div>
</script>


<script type="text/javascript" charset="utf-8">
  $(function () {
      // Initialize the jQuery File Upload widget:
      $('#videoupload').fileupload({
        multipart: true,
        url: "http://up.qbox.me/upload",
        dataType: "json",
        add: function(e,t){
          var n,r;
          return r=/(\.|\/)(mp4)$/i,n=t.files[0],r.test(n.type)||r.test(n.name)?(t.context=$(tmpl("template-upload",n)),$("#fileupload-area").html(t.context),t.submit()):alert("只支持mp4格式")
        },
        progress: function(e,t){
          var progress = parseInt(t.loaded / t.total * 100, 10);
          $('.progress .bar').css('width',progress + '%');
          $('.progress .bar').html("<font color='green'>" + progress + "%</font>");
        },
        done: function(e,t){
          $('.progress .bar').css('width',100 + '%');
          $('.progress .bar').html("<font color='green'>100%</font>");
          var html = '<div>上传成功！点击<a href="">这里</a>进行跳转</div>';
          $("#videoupload").html(html);
        }
     });

      
 });
</script>

